<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157078773641-c2u06t5ldan7sisbbit3b311i73lnfmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157078773641-c2u06t5ldan7sisbbit3b311i73lnfmf</string>
	<key>API_KEY</key>
	<string>AIzaSyA83DSMYM6GXyQr-j0HwzxLLZDm0pYmMuc</string>
	<key>GCM_SENDER_ID</key>
	<string>157078773641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.fummicc1.todooo</string>
	<key>PROJECT_ID</key>
	<string>todooo-d04c3</string>
	<key>STORAGE_BUCKET</key>
	<string>todooo-d04c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157078773641:ios:29706286dfa812720e4b58</string>
	<key>DATABASE_URL</key>
	<string>https://todooo-d04c3.firebaseio.com</string>
</dict>
</plist>